---
layout: page
---

{{content}}

<noscript style="color:red">您需要启用 Javascript 才能显示下载选项</noscript>

<div class="fabric-component" data-component="{{page.svelte_component}}"></div>

<p>
    请务必按照
    <a href="https://wiki.fabricmc.net/zh_cn:install">安装说明</a>
    进行操作！
</p>
<p>
    <strong>
        大部分 Fabric Mod 还需要您将
        <a href="https://www.curseforge.com/minecraft/mc-mods/fabric-api">Fabric API</a>
        安装到 mods 文件夹中。
    </strong>
</p>
<div>
    <u>其他安装选项：</u>
    <br />
    <ul>
        <li>
            <a href="{% link use/installer.md %}">
                Minecraft 官方启动器
            </a>
        </li>
        <li>
            <a href="{% link use/server.md %}">Minecraft 官方服务器</a>
        </li>
        <li>
            <a href="https://afdian.com/p/0164034c016c11ebafcb52540025c377/">
                PCL2
            </a>
        </li>
        <li>
            <a href="https://wiki.fabricmc.net/zh_cn:player:tutorials:install_multimc:windows">
                MultiMC
            </a>
        </li>
        <li>
            <a href="https://www.curseforge.com/minecraft/mc-mods?filter-game-version=2020709689%3A7499&filter-sort=4">
                CurseForge
            </a>
        </li>
        <li>
            <a href="https://hmcl.huangyuhui.net/">
                HMCL
            </a>
        </li>
        <li>
            <a href="https://gdevs.io/">
                GDLauncher
            </a>
        </li>
        <li>
            <a href="https://www.bakaxl.com/">
                BakaXL
            </a>
        </li>
        <li>
            <a href=https://atlauncher.com/>
                ATLauncher
            </a>
            (整合包开发)
        </li>
        <li>
            <a href="{% link use/mcupdater.md %}">MCUpdater</a>
            (整合包开发)
        </li>
        <li>
            <a href="{% link use/technic.md %}">Technic</a>
            (整合包开发)
        </li>
        <li>
            <a href="https://github.com/mindstorm38/portablemc">portablemc</a>
            (纯命令行)
        </li>
        <li>
            <a href="https://github.com/FabricMC/fabric-meta#fabric-meta">
                Metadata API
            </a>
            (启动器开发)
        </li>
    </ul>
</div>

{% assign cacheBust = site.time | date:'?v=%s' %}
<script type="text/javascript" src="{{ "/scripts/main.js" | relative_url | append: cacheBust }}"></script>
<link href="{{ "/scripts/style.css" | relative_url | append: cacheBust }}" rel="stylesheet">
